<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashbaord">dashbaord</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; {{year}} - Website PlaceHolder -All rights reserved</p>
    </footer>
</body>
</html>