{{!-- Use the main layout --}}
{{!< main title="Dashboard" year="2023"}}
<section>
    <h2>Dashboard</h2>
    <p>Hello, {{user.username}}! You are now logged in.</p>
    <p>Welcome to the Dashboard!</p>
</section>